<div class="b-example-divider"></div>

<header class="p-3 text-bg-dark">
  <div class="d-flex flex-wrap align-items-center justify-content-between">
    <!-- Logo benar-benar di pojok kiri -->
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" style="margin-left: 60px";>
      <img src="foto/logo_amanda.png" alt="Klinik Amanda Logo" width="150" height="69">
    </a>

    <div class="container d-flex justify-content-end align-items-center">
      <!-- Menu Navigasi di dekat tombol login -->
      <ul class="nav me-3 list-unstyled d-flex">
        <li><a href="index.php" class="nav-link px-2 text-white">HOME</a></li>
        <li><a href="about.php" class="nav-link px-2 text-white">ABOUT</a></li>
        <li><a href="hdoctor.php" class="nav-link px-2 text-white">DOCTOR</a></li>
        <li><a href="hcontact.php" class="nav-link px-2 text-white">CONTACT</a></li>
        <li><a href="htips.php" class="nav-link px-2 text-white">TIPS</a></li>
      </ul>

      <!-- Tombol login di kanan -->
      <div>
        <a href="login.php" class="btn btn-warning">Log in</a>
      </div>
    </div>
  </div>
</header>

<script src="assets/js/bootstrap.bundle.min.js"></script>
